.Event_Container {
  width: 260px;
  height: 220px;
  padding: 15px;
  color: #596b8c;
  background-color: green;
  border-radius: 10px;
  background-color: white;
  margin: 0px 12px 25px 12px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
}

.Event_Header {
  display: flex;
  color: #596b8c;
  justify-content: space-between;
  align-content: center;
}

.Event_Header h3 {
  text-align: left;
  font-family: "neueDisplay", sans-serif;
  font-weight: bolder;
}

.edit {
  display: block;
}

.editL {
  display: none;
}

.menu.active {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
}

/* .menu.inactive {
  opacity: 1;
  visibility: inv;
  transform: translateY(0);
} */

.Edit_icon {
  width: 80px;
  font-size: 40px;
  font-weight: bolder;
  cursor: pointer;
}

.event_body p {
  width: 260px;
  text-align: left;
  color: #596b8c;
}

/* #212835b6 */

.event_time {
  display: flex;
  color: #596b8c;
  justify-content: space-between;
  font-size: 14px;
}

.event_time div {
  display: flex;
  align-items: center;
}

.event_time div .date-icons {
  padding-right: 4px;
}

.ellips {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.checkEvent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkedboxC {
  width: 26px;
  height: 26px;
  background-color: rgb(46, 141, 1);
}
.checkedboxC1 {
  width: 26px;
  height: 26px;
}

.checkEvent {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.checkedboxI {
  width: 26px;
  height: 26px;
  background-color: rgb(185, 3, 3);
}
.checkedboxI1 {
  width: 26px;
  height: 26px;
}

@media (max-width: 290px) {
  .Event_Container {
    width: 190px;
    height: 200px;
    padding: 10px;
  }

  .event_body p {
    width: 170px;
  }
}
