.HeadEvent {
  display: flex;
  align-items: center;
  margin-top: 5px;
  margin-left: 20px;
  color: #596b8c;
}

.HeadEvent h3 {
  padding-left: 10px;
}

.allList {
  padding: 35px;
  padding: flex;
  align-items: center;
  justify-content: center;
}

.present {
  padding: 35px;
  padding: flex;
  align-items: center;
  justify-content: center;
}

.complete {
  padding: 35px;
  padding: flex;
  align-items: center;
  justify-content: center;
}

.allListInput {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 10px;
}

.allListHeader {
  color: #596b8c;
  text-decoration: underline;
  padding: 14px 40px;
}

.ElistInput {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 14px;
  outline: none;
  font-size: 15px;
}

.seeMore {
  color: #596b8c;
  text-decoration: none;
  font-size: 18px;
  margin: 10px 20px;
}

.eventListDiv {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 500px) {
  .eventListDiv {
    align-items: center;
    justify-content: center;
  }
}
