@font-face {
  font-family: "NeueDisplay";
  src: url(../../../../neue_haas_sv/NHaasGroteskTXPro-55Rg.ttf)
    format("truetype");
}

.EditBody {
  font-family: "NeueDisplay" sans-serif;
  background-color: white;
  width: 90px;
  height: 100px;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  position: absolute;
  top: 60px;
  right: 15px;
}

.EditDetails {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 12px 0px;
  cursor: pointer;
}

.detailBox {
  width: 11px;
  height: 11px;
  margin: 5px;
  border-radius: 2px;
}

.edit {
  border: 1px solid rgb(2, 175, 31);
}

.delete {
  border: 1px solid rgb(255, 115, 0);
}

.public {
  cursor: pointer;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 15px;
  /* padding: 0px 14px; */
  text-align: center;
  font-weight: bolder;
  cursor: pointer;
}
