.footer {
  padding: 20px 0px;
  text-align: center;
  width: 100%;
  color: white;
  background-color: #040d19;
}

@media (max-width: 414px) {
  .footer {
    font-size: 10px;
    padding: 10px 0px;
  }
}
