.Dashboard-Header {
  background-color: #596b8c;
  padding: 5px 20px 30px 20px;
}

.Header-text {
  color: white;
  padding: 2px 10px;
}

.Dashboard-link {
  display: flex;
  justify-content: space-between;
}

.Dashboard-Card {
  width: 95%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-decoration: none;
  border-radius: 12px;
  background-color: white;
  margin: 0px 10px;
  padding: 5px 12px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.allevent {
  color: rgb(4, 90, 160);
}

.progress {
  color: rgb(224, 128, 1);
}

.incomplete {
  color: rgb(185, 3, 3);
}

.complete {
  color: rgb(46, 141, 1);
}

.counter {
  width: 50px;
  height: 50px;
  background-color: #eff0f0;
  border-radius: 50%;
  text-align: center;
  /* padding: 2px; */
}

.dashboard-body {
  /* display: flex;
  justify-content: space-between; */
  padding: 20px;
}

.Dashboard-list {
  border: 1px solid#596b8c;
  padding: 10px 0px;
}

.Dashboard-list h2 {
  padding: 5px 20px;
  color: #596b8c;
}

.seeMore {
  color: #596b8c;
  text-decoration: none;
  font-size: 18px;
  margin: 0px 20px;
}

.user-details {
  color: #fff;
  text-align: center;
  text-transform: capitalize;
}

@media (max-width: 920px) {
  .Dashboard-link {
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: center;
  }
  .Dashboard-Card {
    width: 45%;
    margin: 10px 0px;
  }
}

@media (max-width: 800px) {
  .Dashboard-link {
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: center;
  }
  .Dashboard-Card {
    width: 41%;
    margin: 10px 0px;
  }
}

@media (max-width: 720px) {
  .Dashboard-link {
    flex-wrap: wrap;
    /* flex-direction: row; */
    align-items: center;
  }
  .Dashboard-Card {
    width: 90%;
    margin: 10px 0px;
  }
}

@media (max-width: 414px) {
  .Dashboard-link {
    flex-direction: column;
    align-items: center;
  }
  .Dashboard-Card {
    width: 90%;
    margin: 10px 0px;
  }
}
