.homeBody {
  background-color: white;
  /* position: absolute; */
  /* top: 0; */
  z-index: -2;
}

.event-tracker-subHeader {
  /* background-color: rgba(128, 128, 128, 0.089); */
  margin-top: 20px;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  counter-reset: none;
  color: darkslategrey;
}
.event-subHeader-text {
  background-color: rgba(128, 128, 128, 0.034);
  box-shadow: 0px 0px 20px 5px rgba(68, 67, 67, 0.192);
  padding: 90px 12px;
  border-radius: 8px;
  margin-bottom: 30px;
}
.event-subHeader-text h1 {
  font-size: 48px;
  margin-bottom: 20px;
  text-shadow: 0px 4px 8px rgba(47, 79, 79, 0.781);
  z-index: 30;
}

.event-subHeader-text p {
  font-family: "Courier New", Courier, monospace;
}

.display-main {
  padding: 30px;
  background-color: #e9ecf5;
}

.display-main div h2 {
  color: #597493;
}

.div-display {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
}

.homepage-image {
  width: 700px;
}

@media (max-width: 1030px) {
  .event-subHeader-text {
    padding: 10px 12px;
  }

  .event-subHeader-text h1 {
    font-size: 42px;
  }
  .homepage-image {
    width: 450px;
  }
}

@media (max-width: 930px) {
  .event-subHeader-text {
    padding: 10px 12px;
  }

  .event-subHeader-text h1 {
    font-size: 38px;
  }
  .homepage-image {
    width: 400px;
  }
}

@media (max-width: 800px) {
  .event-tracker-subHeader {
    flex-direction: column;
    padding: 20px;
  }

  .event-subHeader-text {
    padding: 10px 12px;
  }

  .event-subHeader-text h1 {
    font-size: 30px;
  }

  .homepage-image {
    width: 520px;
  }

  .div-display {
    justify-content: center;
    align-items: center;
    padding: 20px 5px;
  }
}

@media (max-width: 414px) {
  .homepage-image {
    width: 340px;
  }
}

@media (max-width: 290px) {
  .homepage-image {
    width: 250px;
  }
}
