@font-face {
  font-family: "NeueDisplay";
  src: url(../../../../neue_haas_sv/NHaasGroteskTXPro-55Rg.ttf)
    format("truetype");
}
.Board {
  margin: 0px auto;
  padding: 20px;
  font-family: "neueDisplay", sans-serif;
}
.Board_Header {
  /* padding: 0px 20px; */
  background-color: #e9ecf5;
  display: flex;
  align-items: center;
  color: #596b8c;
  justify-content: space-between;
}

.Board_Header button {
  background-color: #b1a4e0;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 14px;
  font-weight: bolder;
  cursor: pointer;
}

.Bord-list .createDiv {
  border: 1px solid#596b8c;
  padding: 10px 0px;
}
