.profileEdit {
  font-family: "NeueDisplay" sans-serif;
  background-color: white;
  width: 170px;
  height: 140px;
  padding: 10px 14px;
  color: #596b8c;
  border-radius: 8px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 2;
  position: absolute;
  top: 50px;
  right: 15px;
}

.profileEditDiv {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  color: #596b8c;
}

.profileEditDiv div {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.profileEditDiv div button {
  border: none;
  background-color: transparent;
  color: #596b8c;
  outline: none;
}
