.log {
  font-family: Arial, Helvetica, sans-serif;
  color: #44566c;
  width: 58%;
  height: 83.2vh;
  margin: 20px auto;
  border-radius: 20px;
  display: flex;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.logForm {
  width: 400px;
  padding: 20px 30px;
  text-align: left;
  background-color: #ffffff;
  border-radius: 0px 20px 20px 0px;
}

.logTitle {
  font-weight: bolder;
}

.logDescs {
  width: 80%;
  margin: 5px 0px;
}

.message {
  padding: 0px 8px;
  width: 95%;
  border: 1px solid #dd0101;
  color: #dd0101;
}

.formfield {
  width: 97%;
  margin: 15px 0px;
}

.logDiv {
  width: 100%;
  display: flex;
  align-items: center;
}

.logDivF {
  font-size: 14px;
  width: 140%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}

.logSpan {
  margin-left: 3px;
}

.logLink {
  text-decoration: underline;
  color: #596b8c;
}

.logInput {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 5px;
  background-color: #f8fafb;
  font-size: 16px;
  margin: 5px 0px;
  padding: 12px 10px;
  outline: none;
}

.logInput:hover {
  background-color: #eef3f5;
}

.logImage {
  width: 350px;
  height: 100%;
  border-radius: 20px 0px 0px 20px;
}

.logsubmit {
  margin-top: 5px;
  border: 1px solid transparent;
  background-color: #596b8c;
  color: white;
  font-size: 16px;
  padding: 8px 14px;
  border-radius: 5px;
  width: 100%;
  text-align: center;
  cursor: pointer;
}

.logsubmit:focus {
  border: 1px solid white;
  outline: 1px solid #596b8c;
}

.logfooter {
  text-align: center;
}

.footerlink {
  margin-left: 3px;
}

@media (max-width: 1030px) {
  .log {
    width: 90%;
  }

  .logImage {
    width: 350px;
  }

  .logForm {
    width: 100%;
    padding: 20px 20px;
  }

  .logDivF {
    width: 170%;
  }
}

@media (max-width: 940px) {
  .log {
    width: 90%;
  }

  .logImage {
    width: 300px;
  }

  .logForm {
    width: 100%;
    padding: 20px 20px;
  }

  .logDivF {
    width: 170%;
  }
}

@media (max-width: 800px) {
  .log {
    width: 90%;
  }

  .logImage {
    display: none;
  }

  .logForm {
    width: 100%;
    padding: 20px 20px;
    border-radius: 20px 20px 20px 20px;
  }

  .logDivF {
    width: 170%;
  }
}

@media (max-width: 414px) {
  .log {
    width: 90%;
  }

  .logImage {
    display: none;
  }

  .logForm {
    padding: 20px 20px;
    border-radius: 20px 20px 20px 20px;
  }

  .logDivF {
    width: 110%;
  }
}
