.userCard {
  width: 700px;
  /* background-color: #dcdcdd; */
  color: #212122;
  margin: 40px auto;
  border-radius: 20px;
  padding: 15px;
  /* text-align: center; */
}

.titles h2 {
  text-transform: uppercase;
  text-decoration: underline;
}

.dates {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 920px) {
  .userCard {
    width: 520px;
  }
}

@media (max-width: 800px) {
  .userCard {
    width: 480px;
  }
}

@media (max-width: 720px) {
  .userCard {
    width: 450px;
  }
}

@media (max-width: 414px) {
  .userCard {
    width: 300px;
  }
}

@media (max-width: 290px) {
  .userCard {
    width: 240px;
  }
}
