@font-face {
  font-family: "NeueDisplay";
  src: url(../../../../neue_haas_sv/NHaasGroteskTXPro-55Rg.ttf)
    format("truetype");
}
.modal {
  z-index: 3;
  padding-top: 15px;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal_animation {
  animation: animatezoom 0.6s;
}
@keyframes animatezoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}

.form {
  font-family: "NeueDisplay" sans-serif;
  width: 700px;
  padding: 20px;
  background-color: navy;
  color: white;
  border-radius: 20px;
  margin: 0px auto;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}
.formHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.detail {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  padding: 10px;
  font-size: 15px;
}

.details {
  width: 650px;
  margin: 0px auto;
  display: flex;
  flex-direction: column;
  padding: 10px;
  font-size: 15px;
}

.close {
  cursor: pointer;
  font-weight: bolder;
  font-size: 20px;
  padding: 4px;
}

.label1 {
  margin-top: 12px;
}

.input1 {
  width: 90%;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px 14px;
  margin: 5px 0px;
}

textarea {
  width: 90%;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px 14px;
  margin: 5px 0px;
}

.dSize {
  width: 250px;
  margin: 0px 23px;
  padding: 5px;
  justify-content: center;
}

.time {
  border: none;
  outline: none;
  width: 95%;
  border-radius: 8px;
  padding: 10px 14px;
}

.dat {
  margin-bottom: 15px;
}

.submit {
  width: 95%;
  border-radius: 8px;
  border: none;
  outline: none;
  padding: 10px 14px;
  cursor: pointer;
}

.submit:focus {
  background-color: grey;
}

.message1 {
  border: 1px solid grey;
  padding: 8px 12px;
}

@media (max-width: 730px) {
  .modal {
    padding-top: 20px;
  }
  .form {
    width: 450px;
  }
  .submit {
    width: 63%;
  }
  .dSize {
    width: 190px;
    margin: 0px 5px;
  }
  .time {
    width: 85%;
  }
}

@media (max-width: 414px) {
  .modal {
    padding-top: 20px;
  }
  .form {
    width: 300px;
  }
  .submit {
    width: 43%;
  }
  .dSize {
    margin: 0px 5px;
  }
  .time {
    width: 93%;
  }
}

@media (max-width: 280px) {
  .modal {
    padding-top: 20px;
  }
  .form {
    width: 200px;
  }
  .submit {
    width: 28%;
  }
  .dSize {
    margin: 0px 3px;
  }
  .time {
    width: 88%;
  }
  .dat {
    width: 80%;
  }
}
