/* .topbarMain {
} */
.topBar {
  /* width: 100%; */
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
  padding: 12px 14px;
  border-bottom: 1px solid #596b8c;
}

.sub-topBar {
  display: flex;
  align-items: center;
}

.topBar-div {
  color: #596b8c;
  margin: 0px 12px;
  cursor: pointer;
}

.img-div {
  border-radius: 50%;
}

.imageView {
  display: flex;
  align-items: center;
}

.search {
  position: relative;
  /* text-align: center; */
  padding: 10px 20px;
}

.search .searchDiv {
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #596b8c;
}

.close {
  color: #596b8c;
}

.search div input {
  font-size: 15px;
  background-color: transparent;
  color: #596b8c;
}

.topBarInput {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 14px;
  outline: none;
  font-size: 15px;
}

.searchbody {
  width: 92%;
  padding: 10px 20px;
  color: #e9ecf5;
  position: absolute;
  background-color: #596b8c;
  z-index: 2;
  border-radius: 0px 0px 20px 20px;
  border: 1px solid white;
}

.searchResult {
  border-bottom: 1px solid #e9ecf5;
  cursor: pointer;
}

.handbugger {
  display: none;
  color: #596b8c;
  padding: 20px 20px;
}

@media (max-width: 720px) {
  .handbugger {
    display: block;
  }
  .topBar {
    align-items: center;
    /* justify-content: center; */
  }
  .showFull {
    display: none;
  }
  .topBar-div {
    margin: 0px 4px;
  }
}

@media (max-width: 414px) {
  .handbugger {
    display: block;
  }
  .topBar {
    align-items: center;
    /* justify-content: center; */
  }
  .showFull {
    display: none;
  }
  .topBar-div {
    margin: 0px 4px;
  }
}
