@font-face {
  font-family: "NeueDisplay";
  src: url(./neue_haas_sv/NHaasGroteskTXPro-55Rg.ttf) format("truetype");
}

.App {
  font-family: "neueDisplay", sans-serif;
  background-color: #e9ecf5;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
}

.sub-app {
  width: 100%;
}

/* --grey-light-color-1: #f8fafb;
    --grey-light-color-2: #eef3f5;
    --grey-light-color-3: #eaedf0;
    --grey-light-color-4: #eff4f8;
    --grey-light-color-5: #f4f4f9;
    --grey-light-color-6: #e5e5e5; */

/* #44566c; */

/* -grey-color-1: #8697a8;
    --grey-color-2: #a6b2bf;
    --grey-color-3: #44566c;
    --grey-color-4: #b3c0ce;
    --grey-color-5: #cfcfd1;
    --grey-color-6: #737781;
    --grey-color-7: #c4c4c4; */
/* 
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
