.futures {
  padding: 35px;
  padding: flex;
  align-items: center;
  justify-content: center;
}

.futureInput {
  width: 100%;
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 10px 14px;
  outline: none;
  font-size: 15px;
}
